<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensaje</title>
    <link rel="stylesheet" href="{% static 'web_ujap/css/contacto.css' %}">
    <link rel="icon" type="image/png" href="{% static 'web_ujap/images/download.png' %}">
</head>
<body>
<nav class="navbar">
    <div class="nav-container">
        <a href="{% url 'login' %}" class="nav-logo">UJAP<span class="logo-red">.online</span></a>
        
        <ul class="nav-links">
            <li><a href="{% url 'login' %} ">Inicio</a></li>
            <li><a href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://ujap.edu.ve/facultades/&ved=2ahUKEwj5gZCBqeaTAxVh6ckDHVZNHFUQFnoECAsQAQ&usg=AOvVaw1k6UA0BosQSIZKMXeF-FGr">Facultades</a></li>
            <li><a href="https://aulavirtual.ujap.edu.ve/">Aula Virtual</a></li>

        </ul>
    </div>
</nav>

<form>  
    <h2>Formulario de contacto</h2>
    <fieldset>
        <legend>Información Personal</legend>
<div class="form_input"> 
    <label for="nombre">Nombre</label>
    <input class="text" placeholder="Kleiver Torrealba" id="nombre"> 
</div>
<div class="form_input">
    <label for="email">Email</label>
    <input class="email" placeholder="Example@gmail.com" id="email"> 
</div>
</fieldset>
<div class="form_input">
    <label>tipo de usuario
        <select name="tipo_usuario" id="tipo_usuario">
            <option value="estudiante">Estudiante</option>
            <option value="profesor">Profesor</option>
            <option value="otro">Otro</option>
        </select>
    </label>
</div>
<div class="form_input">
    <label for="mensaje">Mensaje</label>            

<textarea name="mensaje" placeholder="Escriba su mensaje..." id="mensaje"></textarea>




</label> 
</div>

<div class="form_input">
    <button type="submit" class="btn-submit">Enviar</button>
</body>

</form>
</html>