<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="title">S.A.V</title>
    <link rel="stylesheet" href="{% static 'web_ujap/css/login.css' %}">
    <link rel="icon" href="{% static 'web_ujap/css/img/logo.ico' %}" type="image/x-icon">
</head>

<body>
<nav class="navbar">
    <div class="nav-container">
        <a href="{% url 'login' %}" class="nav-logo">UJAP<span class="logo-red">.online</span></a>

        <input type="checkbox" id="menu-toggle" class="menu-checkbox">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>

        <ul class="nav-links">
            <li><a href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://ujap.edu.ve/facultades/&ved=2ahUKEwj5gZCBqeaTAxVh6ckDHVZNHFUQFnoECAsQAQ&usg=AOvVaw1k6UA0BosQSIZKMXeF-FGr">Facultades</a></li>
            <li><a href="https://aulavirtual.ujap.edu.ve/">Aula Virtual</a></li>
            <li><a href="{% url 'contacto' %}" class="nav-btn">Contacto</a></li>
        </ul>
    </div>
</nav>



    <form method="POST">  
        {% csrf_token %}
    <h2>Universidad
        Jose
        Antonio
        Paez
    </h2>

<div class="form_input"> 
    <label for="nombre">Nombre</label>
    <input class="text" placeholder="Kleiver Torrealba" id="nombre" name="usuario"> 
</div>

<div class="form_input">
    <label for="password">Contraseña</label>
    <input type="password" placeholder="********" id="password" name="password">
</div>
<button type="submit" class="btn-submit">Ingresar</button>

<div class="form_recover">
    <a href="{% url 'usuario' %}" target="_blank"> Crear usuario</a>
</div>

<div class="form_recover">
    <a href="{% url 'recuperar' %}" target="_blank">¿Olvidaste tu contraseña?</a>
</div>

</body>
</form>
    

</html>

